matplotlib                                         
nibabel                                                
numpy                                                
pandas                                                                     
pytorch-lightning                                    
scipy                           
seaborn                         
tensorboard                     
torch                           
torchaudio                      
torchmetrics                    
torchvision                     
monai
